<head>
    @Styles.Render("~/Content/Estilos.css")
</head>

@{
    ViewBag.Title = "Home Page";
}
<header>
    <div id="header">
       
       <div id="box">
            
        </div>
        <!--FIN DEL LOGO-->
        <h1>Bienvenidos a la Tienda de Computadoras</h1>
    </div>
    <div id="page"></div>
    <!--MENU-->
    <nav role='navigation'>
        <ul id="menu">
            <li><a href="#"><span class="color1"><i class="fa fa-home"></i></span>Inicio</a></li>
            <li><a href="#"><span class="color2"><i class="fa fa-file-text"></i></span>Articulos</a></li>
            <li class="list">
                <a href="#"><span class=""><i class="fa fa-tag"></i></span>Categorias</a>
                <ul id="submenu">
                    <li><a href="#"> <span class="color7"><i class="fa fa-windows"></i></span>Windows</a></li>
                    <li><a href="#">Linux</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Mac</a></li>
                </ul>
            </li>
            <li><a href="#"><span class="color3"><i class="fa fa-link"></i></span>Enlaces</a></li>
            <li><a href="#"><span class="color4"><i class="fa fa-envelope"></i></span>Contacto</a></li>
            <li><a href="#"><span class="color5"><i class="fa fa-file"></i></span>Aviso Legal</a></li>
        </ul>
    </nav>
</header>
<body>
    <div id="content">
        <h2> Nueva Página sobre el mundo de la tecnologia</h2>
    </div>
</body>
<footer>
    <p>
        
    </p>
</footer>
<!--PONER EN EL HEAD-->
<!--<head>
<link rel="stylesheet"href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
</head> -->
